# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
 !pip install gmaps

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load the csv exported in Part I to a DataFrame

weather_csv_file = "./output_data/city_weather_data.csv"

weather_df = pd.read_csv(weather_csv_file)

weather_df.head()

,City,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,tuktoyaktuk,69.4541,-133.0374,54.66,58.0,100.0,8.50,CA,1.628989e+09
1,qaanaaq,77.4840,-69.3632,40.59,100.0,100.0,3.53,GL,1.628989e+09
2,flinders,-34.5833,150.8552,65.05,46.0,33.0,5.99,AU,1.628989e+09
3,batemans bay,-35.7167,150.1833,60.91,31.0,86.0,2.30,AU,1.628989e+09
4,dikson,73.5069,80.5464,50.22,90.0,100.0,16.93,RU,1.628989e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Checking the data type 

weather_df["Humidity"].dtypes

dtype('float64')

In [4]:
# Configure gmaps with API key.
gmaps.configure(api_key=g_key)

humidity = weather_df["Humidity"]
locations = weather_df[["Lat", "lng"]]

fig = gmaps.figure(center = [0,0], zoom_level=4)
heatmap_layer = gmaps.heatmap_layer(locations, \
                weights = humidity, max_intensity=300, point_radius=10)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Choosing favorable temperature 70F to 80F 
good_weather_df = weather_df.loc[(weather_df["Max Temp"] < 80) & (weather_df["Max Temp"] > 70)]

# Choosing wind speed less than 10
good_weather_df = good_weather_df.loc[good_weather_df["Wind Speed"] < 10]

# Choosing no cloudiness (clear sky)
good_weather_df = good_weather_df.loc[good_weather_df["Cloudiness"] == 0]

# Dropping any NAs
good_weather_df = good_weather_df.dropna()

# New data for searching cities as desired 
good_weather_df

,City,Lat,lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
27,ballina,-28.8667,153.5667,72.79,65.0,0.0,1.61,AU,1.628989e+09
84,florence,43.7667,11.2500,77.65,68.0,0.0,3.44,IT,1.628989e+09
91,guiratinga,-16.3494,-53.7583,73.18,32.0,0.0,1.10,BR,1.628989e+09
184,aksarayskiy,46.7924,48.0119,71.55,70.0,0.0,8.72,RU,1.628989e+09
203,abu samrah,35.3029,37.1841,74.77,66.0,0.0,7.65,SY,1.628989e+09
217,byron bay,-28.6500,153.6167,75.06,64.0,0.0,0.51,AU,1.628989e+09
249,turayf,31.6725,38.6637,77.02,34.0,0.0,7.34,SA,1.628989e+09
267,waddan,29.1614,16.1390,75.27,65.0,0.0,7.20,LY,1.628989e+09
290,melfi,40.9965,15.6514,72.39,43.0,0.0,4.68,IT,1.628989e+09
304,bardiyah,31.7561,25.0865,77.56,72.0,0.0,5.95,LY,1.628989e+09
310,kermanshah,34.3142,47.0650,70.07,24.0,0.0,3.78,IR,1.628989e+09
316,tonneins,44.3921,0.3124,73.62,90.0,0.0,7.85,FR,1.628989e+09
328,methoni,36.8197,21.7049,71.46,56.0,0.0,3.83,GR,1.628989e+09
349,charlestown,-32.9500,151.6667,70.21,70.0,0.0,6.02,AU,1.628989e+09
423,campobasso,41.6333,14.5833,70.16,34.0,0.0,2.51,IT,1.628989e+09
473,ruteng,-8.6136,120.4721,70.92,60.0,0.0,1.88,ID,1.628989e+09
518,porto torres,40.8350,8.3972,75.38,62.0,0.0,2.84,IT,1.628989e+09
549,bucak,37.4592,30.5950,73.44,45.0,0.0,6.15,TR,1.628989e+09
550,farah,32.5000,62.5000,72.68,19.0,0.0,7.00,AF,1.628989e+09

# Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = good_weather_df.loc[:,["Lat","lng","City","Country"]]

#setting up lists for hotel information
hotel_name = []
hotel_address = []
hotel_rating = []
hotel_lat = []
hotel_lng = []

print("Begins Hotel data Retrieving .... ")
print("♦" * 45)


for index, row in hotel_df.iterrows():
    
    hotel_city = row["City"]
    hotel_country = row["Country"]
    
    hotel_location = f"{row['Lat']},{row['lng']}"
    hotel_radius = 5000 #this is in meters
#     hotel_type = "hotel"
    hotel_keyword = "hotel"

    #set parameters
    params = {
        "location": hotel_location,
        "radius": hotel_radius,
#         "type": hotel_type,
        "keyword": hotel_keyword,
        "key": g_key }
    
    #base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url,params=params).json()
    results = response['results']
     
    try:
        hotel_name.append(results[0]['name'])
        hotel_address.append(results[0]['vicinity'])
        hotel_rating.append(results[0]['rating'])
        hotel_lat.append(results[0]['geometry']['location']['lat'])
        hotel_lng.append(results[0]['geometry']['location']['lng'])
        print(f"Processeing Record for a {hotel_keyword} in {hotel_city}, {hotel_country}")

    except:
        hotel_name.append(np.nan)
        hotel_address.append(np.nan)
        hotel_rating.append(np.nan)
        hotel_lat.append(np.nan)
        hotel_lng.append(np.nan)
        print(f"No results/{hotel_keyword} found in {hotel_city}, {hotel_country}. Skipping...")

print("♦" * 45)
print("Hotel data Retrieval is Complete !!!!! ")
print("♦" * 45)

Begins Hotel data Retrieving ....
♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦
Processeing Record for a hotel in ballina, AU
Processeing Record for a hotel in florence, IT
Processeing Record for a hotel in guiratinga, BR
No results/hotel found in aksarayskiy, RU. Skipping...
No results/hotel found in abu samrah, SY. Skipping...
Processeing Record for a hotel in byron bay, AU
Processeing Record for a hotel in turayf, SA
Processeing Record for a hotel in waddan, LY
Processeing Record for a hotel in melfi, IT
Processeing Record for a hotel in bardiyah, LY
Processeing Record for a hotel in kermanshah, IR
Processeing Record for a hotel in tonneins, FR
Processeing Record for a hotel in methoni, GR
Processeing Record for a hotel in charlestown, AU
Processeing Record for a hotel in campobasso, IT
Processeing Record for a hotel in ruteng, ID
Processeing Record for a hotel in porto torres, IT
Processeing Record for a hotel in bucak, TR
No results/hotel found in farah, AF. Skipping...
♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦
Hotel data Retrieval is Complete !!!!!
♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦

In [8]:
# add new information into the cities_df
hotel_df["Hotel Name"] = hotel_name
hotel_df["Hotel Address"] = hotel_address
hotel_df["Hotel Rating"] = hotel_rating
hotel_df["Hotel Latitude"] = hotel_lat
hotel_df["Hotel Longitude"] = hotel_lng

hotel_df

,Lat,lng,City,Country,Hotel Name,Hotel Address,Hotel Rating,Hotel Latitude,Hotel Longitude
27,-28.8667,153.5667,ballina,AU,Ramada Hotel & Suites by Wyndham Ballina Byron,"2 Martin St, Ballina",4.3,-28.872736,153.562446
84,43.7667,11.2500,florence,IT,Hotel Savoy,"Piazza della Repubblica, 7, Firenze",4.6,43.771889,11.254560
91,-16.3494,-53.7583,guiratinga,BR,Ópera Palace Hotel,"R. Pedro Celestino, 1299 - Santa Maria Bertila...",4.5,-16.351556,-53.761324
184,46.7924,48.0119,aksarayskiy,RU,NaN,NaN,NaN,NaN,NaN
203,35.3029,37.1841,abu samrah,SY,NaN,NaN,NaN,NaN,NaN
217,-28.6500,153.6167,byron bay,AU,"Beach Hotel Resort, Byron Bay","1 Bay Ln, Byron Bay",3.9,-28.641854,153.613644
249,31.6725,38.6637,turayf,SA,Golden Dune Hotel,"MMC5+XVF, Turaif",4.5,31.672446,38.659673
267,29.1614,16.1390,waddan,LY,بشير التاجوري,"548M+PCQ, Waddan",5.0,29.166836,16.133611
290,40.9965,15.6514,melfi,IT,Hotel Castagneto,"100, SS401 KM 3, Melfi",4.1,40.981602,15.618856
304,31.7561,25.0865,bardiyah,LY,Hotel Burdy,"Q33P+6VV, Bardiyah",4.3,31.753118,25.087169
310,34.3142,47.0650,kermanshah,IR,Patagh Hotel,"Kermanshah, #14 , 123 ally, Shahid Al Agha Blvd",0.0,34.292028,47.038176
316,44.3921,0.3124,tonneins,FR,Château Marith,"747 lieu dit Marith, Clairac",4.8,44.351372,0.368331
328,36.8197,21.7049,methoni,GR,Afentiko Pigadi - Luxury Villas,"Epar.Od. Methonis-Falanthis, Pilos",4.9,36.824905,21.734772
349,-32.9500,151.6667,charlestown,AU,"The Executive Inn, Newcastle","10 Rugby Rd, New Lambton",4.2,-32.921140,151.714764
423,41.6333,14.5833,campobasso,IT,Villa D'Evoli,"Contrada Lacone, 22, Castropignano",4.0,41.640792,14.583095
473,-8.6136,120.4721,ruteng,ID,Sindha Hotel,"Jl. Yos Sudarso No.24-26, Mbaumuku, Kabupaten ...",4.0,-8.608015,120.466855
518,40.8350,8.3972,porto torres,IT,Hotel Libyssonis,"Via del Lentischio, 1, Porto Torres",4.3,40.822894,8.420131
549,37.4592,30.5950,bucak,TR,Ada Hotel,"Oğuzhan, Bucak Burdur TR, Ramazan Selen Blv. N...",4.6,37.458384,30.593975
550,32.5000,62.5000,farah,AF,NaN,NaN,NaN,NaN,NaN

In [9]:
#remove NaN rows
#did not drop indexes for locations without hotel found - can see how many hotels are found for top locations
hotel_found_df = hotel_df.dropna(axis = 0)
hotel_found_df

,Lat,lng,City,Country,Hotel Name,Hotel Address,Hotel Rating,Hotel Latitude,Hotel Longitude
27,-28.8667,153.5667,ballina,AU,Ramada Hotel & Suites by Wyndham Ballina Byron,"2 Martin St, Ballina",4.3,-28.872736,153.562446
84,43.7667,11.2500,florence,IT,Hotel Savoy,"Piazza della Repubblica, 7, Firenze",4.6,43.771889,11.254560
91,-16.3494,-53.7583,guiratinga,BR,Ópera Palace Hotel,"R. Pedro Celestino, 1299 - Santa Maria Bertila...",4.5,-16.351556,-53.761324
217,-28.6500,153.6167,byron bay,AU,"Beach Hotel Resort, Byron Bay","1 Bay Ln, Byron Bay",3.9,-28.641854,153.613644
249,31.6725,38.6637,turayf,SA,Golden Dune Hotel,"MMC5+XVF, Turaif",4.5,31.672446,38.659673
267,29.1614,16.1390,waddan,LY,بشير التاجوري,"548M+PCQ, Waddan",5.0,29.166836,16.133611
290,40.9965,15.6514,melfi,IT,Hotel Castagneto,"100, SS401 KM 3, Melfi",4.1,40.981602,15.618856
304,31.7561,25.0865,bardiyah,LY,Hotel Burdy,"Q33P+6VV, Bardiyah",4.3,31.753118,25.087169
310,34.3142,47.0650,kermanshah,IR,Patagh Hotel,"Kermanshah, #14 , 123 ally, Shahid Al Agha Blvd",0.0,34.292028,47.038176
316,44.3921,0.3124,tonneins,FR,Château Marith,"747 lieu dit Marith, Clairac",4.8,44.351372,0.368331
328,36.8197,21.7049,methoni,GR,Afentiko Pigadi - Luxury Villas,"Epar.Od. Methonis-Falanthis, Pilos",4.9,36.824905,21.734772
349,-32.9500,151.6667,charlestown,AU,"The Executive Inn, Newcastle","10 Rugby Rd, New Lambton",4.2,-32.921140,151.714764
423,41.6333,14.5833,campobasso,IT,Villa D'Evoli,"Contrada Lacone, 22, Castropignano",4.0,41.640792,14.583095
473,-8.6136,120.4721,ruteng,ID,Sindha Hotel,"Jl. Yos Sudarso No.24-26, Mbaumuku, Kabupaten ...",4.0,-8.608015,120.466855
518,40.8350,8.3972,porto torres,IT,Hotel Libyssonis,"Via del Lentischio, 1, Porto Torres",4.3,40.822894,8.420131
549,37.4592,30.5950,bucak,TR,Ada Hotel,"Oğuzhan, Bucak Burdur TR, Ramazan Selen Blv. N...",4.6,37.458384,30.593975

In [10]:
print(f"A total of {len(hotel_df)} locations satisfy the required conditions of interst for an ideal vacation place \
and {len(hotel_found_df)} hotels found.")

A total of 19 locations satisfy the required conditions of interst for an ideal vacation place and 16 hotels found.

In [13]:
# NOTE: Do not change any of the code in this cell

# # Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>Address</dt><dd>{Hotel Address}</dd>
<dt>Ratings</dt><dd>{Hotel Rating}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

In [14]:
# Store the DataFrame Row

hotel_info = [info_box_template.format(**row) for index, row in hotel_found_df.iterrows()]

locations = hotel_found_df[["Hotel Latitude", "Hotel Longitude"]]

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))